# Virtual environment folders
.venv/
venv/
env/

# Build artifacts
build/
dist/
opensoar.egg-info/

# Documentation build
docs/build/

# IDE settings
.idea/

# Python cache
*.pyc

# macOS system files
.DS_Store
